.panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  border-top: solid 1px #ddd;
  transition: all .2s ease-in-out;
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(5px);
  padding: 50px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.panelContent {
  width: 50%;
  max-width: 752px;
}

.hide {
  bottom: -500px;
}