$gray-1: #333333;
$gray-2: #4f4f4f;
$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #bfbfbf;
$gray-6: #ccc;

@keyframes backdropBlur {
  0% {
    filter: blur(4px);
  }
  10% {
    filter: blur(3px);
  }
  25% {
    filter: blur(2px);
  }
  50% {
    filter: blur(1px);
  }
  75% {
    filter: blur(2px);
  }
  95% {
    filter: blur(3px);
  }
  100% {
    filter: blur(4px);
  }
}

.articles {
  display: flex;
  padding: 0 0 100px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.latestArticlesTitles {
  position: absolute;
  top: 200px;
  left: 45px;
  padding: 5px;
  list-style: none;
  z-index: 1;

  &:before {
    content: "最近";
    display: block;
    margin-bottom: 10px;
    color: #bfbfbf;
    font-size: 12px;
  }
}

.latestArticlesTitle {
  padding-bottom: 5px;
  font-size: 12px;
  cursor: pointer;
  color: #6bcba8;
  transition: color 0.2s;

  &:hover {
    color: #333;
  }
}

.blurCover {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 1.74;
  font-size: 14px;
  animation: backdropBlur 2s linear infinite;
  opacity: 0.5;
}

.clickable {
  color: #bfbfbf;
  cursor: pointer;
  &:hover {
    color: $gray-1;
  }
}

.description {
  line-height: 1.74;
  font-size: 14px;
  color: #bfbfbf;
  letter-spacing: 0.05em;
  opacity: 0.5;
  filter: blur(4px);
}

.contentWrapper {
  position: relative;
}

.article {
  width: 50%;
  max-width: 752px;

  &:before {
    content: attr(data-title);
    margin-bottom: 40px;
    display: block;

    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 1.389;
    font-weight: 700;
    color: #262626;
    font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue,
      Helvetica, Arial, sans-serif;
  }

  padding-top: 200px;
}

.info {
  font-weight: 400;
  color: #bfbfbf;
  font-family: Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue,
  Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-size: 12px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.commentEntry {
  cursor: pointer;
  transition: .2s color ease-in-out;
  &:hover {
    color: #4f4f4f;
  }
}

.count {
  color: #bfbfbf;
}

.date {
  margin-right: 15px;
}

@media (max-width: 500px) {
  .article {
    width: calc(100% - 50px);
    margin: 100px 25px;
  }
}
