.articles {
  display: flex;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.article {
  width: 50%;
  &:before {
    content: attr(data-title);
    margin-bottom: 40px;
    display: block;

    font-size: 36px;
    line-height: 1.389;
    font-weight: 700;
    color: #262626;
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  }

  &:after {
    content: attr(data-time);
    font-weight: 400;
    color: #bfbfbf;
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    display: block;
    font-size: 12px;
    margin-top: 50px;
  }
  margin-bottom: 100px;
}

@media (max-width: 500px) {
  .article {
    width: calc(100% - 50px);
    margin: 100px 25px;
  }
}

