$gray-1: #333333;
$gray-2: #4f4f4f;
$gray-3: #828282;
$gray-4: #bdbdbd;
$gray-5: #bfbfbf;
$gray-6: #ccc;

@keyframes backdropBlur {
  0% {
    backdrop-filter: blur(4px);
  }
  10% {
    backdrop-filter: blur(3px);
  }
  25% {
    backdrop-filter: blur(2px);
  }
  50% {
    backdrop-filter: blur(1px);
  }
  75% {
    backdrop-filter: blur(2px);
  }
  95% {
    backdrop-filter: blur(3px);
  }
  100% {
    backdrop-filter: blur(4px);
  }
}

.articles {
  display: flex;
  padding: 0 0 100px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.latestArticlesTitles {
  position: absolute;
  top: 200px;
  left: 45px;
  padding: 5px;
  list-style: none;
  z-index: 1;

  &:before {
    content: '最近';
    display: block;
    margin-bottom: 10px;
    color: #bfbfbf;
    font-size: 12px;
  }
}

.latestArticlesTitle {
  padding-bottom: 5px;
  font-size: 12px;
  cursor: pointer;
  color: #6bcba8;
  transition: color .2s;

  &:hover {
    color: #333;
  }
}

.blurCover {
  position: relative;
  letter-spacing: .05em;
  line-height: 1.74;
  font-size: 14px;
  // -webkit-animation: colorChange 2s ease-in-out alternate infinite;
  &:after {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
    content: "";
    // backdrop-filter: blur(2px);
    animation: backdropBlur 2s linear infinite;
  }
}

.clickable {
  color: #bfbfbf;
  cursor: pointer;
  &:hover {
    color: $gray-1;
  }
}

.description {
  line-height: 1.74;
  font-size: 14px;
  color: #bfbfbf;
  letter-spacing: .05em;
}

.contentWrapper {
  position: relative;
}

.article {
  width: 50%;
  max-width: 752px;

  &:before {
    content: attr(data-title);
    margin-bottom: 40px;
    display: block;

    font-size: 36px;
    letter-spacing: .05em;
    line-height: 1.389;
    font-weight: 700;
    color: #262626;
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
  }

  &:after {
    content: attr(data-time);
    font-weight: 400;
    color: #bfbfbf;
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: .05em;
    display: block;
    font-size: 12px;
    margin-top: 50px;
  }
  padding-top: 200px;
}

@media (max-width: 500px) {
  .article {
    width: calc(100% - 50px);
    margin: 100px 25px;
  }
}

