$animationDuration: .5s;

:export {
  animationDuration: $animationDuration;
}

.customImgTag {
  opacity: 1;
  transition: opacity $animationDuration;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

