.photoGallery {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  will-change: opacity;

  height: 100%;

  .img {
    max-width: 80%;
    max-height: 80%;
    user-select: none;
    cursor: w-resize;
  }
}